.cookie-banner-btn-open[visible="true"] {
    position: fixed;
    z-index: 100;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: solid 1px var(--color-main);
    border-bottom: none;
    right: 40px;
    bottom: 0px;
    cursor: pointer;

    font-family: 'Ubuntu-L';
    font-size: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 8px
}

.cookie-banner-btn-open[visible="false"] {
    display: none;
}

.cookie-banner-dimmer[visible="true"] {
    position: fixed;
    z-index: 98;
    background-color: rgba(0,0,0,0.66);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.cookie-banner-dimmer[visible="false"] {
    display: none;
}

.cookie-banner {
    position: fixed;
    z-index: 99;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
    max-width: 550px;
    left: calc(calc(100% * 0.5) - 275px);
    top: calc(calc(100% * 0.5) - 200px);
}



.cookie-banner-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cookie-banner-btn-close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 66%;
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu-B';
    font-size: 125%;
    color: #a0a0a0;
    cursor: pointer;
}

.cookie-banner-title {
    font-family: 'Ubuntu-R';
    width: 100%;
    font-size: 150%;
    color: #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.cookie-banner-text[visible="visible"] {
    font-size: 115%;
    font-family: 'Ubuntu-L';
    color: var(--color-paragraph);
    text-align: justify;
    margin-bottom: 16px;
}

.cookie-banner-text[visible="hidden"]{
    display: none;
}

.cookie-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.cookie-buttons button {
    cursor: pointer;
}

.cookie-banner-settings[visible="visible"] {
    font-family: 'Ubuntu-L';
    font-size: 115%;
    color: #404040;
    text-align: justify;
    margin-bottom: 16px;
}

.cookie-banner-settings[visible="hidden"] {
    display: none;
}

.btn-cookie-back, .btn-cookie-settings {
    cursor: pointer;
}

.btn-cookie-settings[visible="hidden"] {
    display: none;
}

.btn-cookie-back[visible="hidden"] {
    display: none;
}

.btn-cookie-settings[visible="hidden"] {
    display: none;
}

.cookie-banner-buttons {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.cookie-banner-buttons button {
    background-color: var(--color-cookie-banner-button);
    color: var(--color-cookie-banner-button-text);
    border: none;
    border-radius: 8px;
    height: 40px;
    font-size: 100%;
    width: 100%;
}

.cookie-banner-footer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    gap: 8px;
    margin-top: 16px;

}

.cookie-banner-link {
    font-size: 75%;
    height: 16px;
    width: 100%;
    text-align: center;
}

@media (max-width: 550px) {
    .cookie-banner {
        position: fixed;
        z-index: 99;
        background-color: white;
        padding: 16px;
        border-radius: 12px;
        width: 80%;
        left: calc(calc(100% * 0.5) - 40%);
        top: calc(calc(100% * 0.5) - 200px);
    }

    .cookie-banner-link {
        font-size: 60%;
        height: 16px;
        width: 100%;
        text-align: center;
    }

    .cookie-banner-buttons {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 8px;
    }

    .cookie-banner-buttons button {
        background-color: var(--color-cookie-banner-button);
        color: var(--color-cookie-banner-button-text);
        border: none;
        border-radius: 8px;
        height: 40px;
        font-size: 100%;
        width: 100%;
    }
    .cookie-banner-text[visible="visible"] {
        font-size: 90%;
    }
    
    .cookie-banner-settings[visible="visible"] {
        font-size: 90%;
    }

    .blocked-content .blocked-title {
        color: #000000;
        width: 80%;
        font-size: 90%;
        font-family: 'Ubuntu-B';
        text-align: center;
        margin: 0;
    }
}

.is-provider-youtube, .is-provider-soundcloud {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocked-content {
    width: 100%;
    aspect-ratio: 16/9;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}
.blocked-content p {
    color: #000000;
    width: 80%;
    margin: 0;
}

.blocked-content .blocked-title {
    color: #000000;
    width: 80%;
    font-size: 125%;
    font-family: 'Ubuntu-B';
    text-align: center;
    margin: 0;
}

.blocked-content-open-cookie-btn {
    background-color: white;
    color: black;
    border: solid 1px black;
    font-size: 18x;
    padding: 8px;
    border-radius: 8px;
}

.blocked-content-open-cookie-btn:hover {
    color: #505050;
    border: solid 1px #505050;
}

@media (max-width: 450px) {
    .blocked-content p {
        font-size: 75%;
    }

    .blocked-content .blocked-title {
        font-size: 90%;
    }
}